footer {
  $height: 30px;
  position: fixed;
  width: 100%;
  height: $height;
  bottom: 0;
  color: white;
  font-family: "Quicksand", sans-serif;
  background-color: #352d33;
  font-size: 12px;
  text-align: center;
  line-height: $height;
}
